<!-- Copyright -->
<div class="bg-darkBlue text-left p-5 flex text-white">
    <div>
        <img src="./assets/images/logos/logoUOC-dark.png" alt="Logo UOC">
    </div>
    <div>
        <p class="text-xxs md:text-sm lg:text-base xl:text-lg 2xl:text-xl">
            This wireframe has been created exclusively for
            its use within the “HTML and CSS Tools II” course at the UOC’s Master
            Program in Website and Web App Development. Its reproduction and other uses are not authorized.
        </p>
        <p class="text-xxs md:text-sm lg:text-base xl:text-lg 2xl:text-xl">
            © Ene 2024 - Carmen Núñez García and Universitat Oberta de Catalunya.
        </p>
    </div>
</div>
<!-- Copyright -->