<footer class="text-customBlue bg-white">
    <!-- Container wrapper -->
    <div class="sm:max-w-[600px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1200px] 2xl:max-w-[1440px] mx-auto p-6">

        <!-- Section: Contact information  -->
        <section class="text-center md:text-start mt-5">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-full">
                <div class="mb-12">
                    <h6 class="uppercase font-bold mb-10">
                        <i class="fas fa-table-tennis-paddle-ball"></i> Tennis League
                    </h6>
                    <p class="text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl">
                        Here you can find the tennis league we are doing on Saturday mornings.
                        However, we are thinking about doing other activities, so if you
                        have any ideas, <a href="#" class="text-customBlue">contact us!</a>
                    </p>
                </div>

                <div class="mb-1">
                    <h6 class="uppercase font-bold mb-10">Contact</h6>
                    <div class="flex">
                        <p class="me-2 text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"><i
                                class="fas fa-home me-2"></i> Valencia </p>
                        <p class="me-2 text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"><a href="#"
                                class="text-customBlue"><i class="fas fa-envelope me-2"></i></a>
                            info@tennisleague.com </p>
                        <p class="me-2 text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl"><i
                                class="fas fa-phone me-2"></i> +0123456789 </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Contact information  -->

        <hr class="border-b-2 border-solid border-customBlueLine">

        <!-- Section: NavBar  -->
        <section class="mt-5">
            <!-- Navbar -->
            <nav class="flex items-center justify-between flex-nowrap p-2 text-customBlue mx-auto">

                <!-- Navbar brand -->
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <a href="index.html" title="back to index">
                        <img class="fill-current w-auto h-20 mr-2" src="./assets/images/logos/logo.png"
                            alt="Tennis League Logo" loading="lazy" />
                    </a>
                </div>
                <!-- Navbar brand -->

                <!-- Toggle button -->
                <include src="./views/toggleButton.html"></include>
                <!-- Toggle button -->

                <!-- Collapsible wrapper -->
                <div class="navbar-collapse hidden w-full block md:flex md:items-center md:w-auto mt-4">
                    <!-- Center links -->
                    <ul class="md:flex origin-center font-semibold">
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="index.html" class="block md:inline-block md:mt-0 hover:text-darkBlue">
                                Home
                            </a>
                        </li>
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="members.html" class="block md:inline-block md:mt-0 hover:text-darkBlue">
                                Members
                            </a>
                        </li>
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="#" class="block md:inline-block md:mt-0 hover:text-darkBlue">
                                Blog
                            </a>
                        </li>
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="#" class="block md:inline-block md:mt-0 hover:text-darkBlue">
                                Form
                            </a>
                        </li>
                    </ul>
                    <!-- Center links -->
                </div>
                <!-- Collapsible wrapper -->

                <!-- Right links -->
                <include src="./views/socialLinks.html"></include>
                <!-- Right links -->
            </nav>
            <!-- Navbar -->
        </section>
        <!-- Section: NavBar  -->
    </div>
    <!-- Container wrapper -->

    <!-- Copyright -->
    <include src="./views/copyright.html"></include>
    <!-- Copyright -->
</footer>