<header class="border-b-2 border-solid border-customBlueLine p-2">
    <!-- Container wrapper -->
    <div class="sm:max-w-[600px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1200px] 2xl:max-w-[1440px] mx-auto">
        <!-- Navbar -->
        <nav class="flex items-center justify-between flex-nowrap p-2 text-customBlue mx-auto">

            <!-- Navbar brand -->
            <div class="flex items-center flex-shrink-0 mr-6">
                <a href="index.html" title="back to index">
                    <img class="fill-current w-auto h-20 mr-2" src="./assets/images/logos/logo.png"
                        alt="Tennis League Logo" loading="lazy" />
                </a>
            </div>
            <!-- Navbar brand -->

            <div class="flex flex-col items-end">
                <!-- Toggle button -->
                <include src="./views/toggleButton.html"></include>
                <!-- Toggle button -->

                <!-- Collapsible wrapper -->
                <div class="navbar-collapse hidden block md:flex md:items-center md:w-auto text-right">
                    <!-- Right links -->
                    <ul class="md:flex font-semibold">
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="members.html" class="block mt-4 md:inline-block md:mt-0 hover:text-darkBlue">
                                Members
                            </a>
                        </li>
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="#" class="block mt-4 md:inline-block md:mt-0 hover:text-darkBlue">
                                Blog
                            </a>
                        </li>
                        <li class="px-3 md:px-5 text-xs md:text-base font-semibold md:inline-block">
                            <a href="#" class="block mt-4 md:inline-block md:mt-0 hover:text-darkBlue">
                                Form
                            </a>
                        </li>
                    </ul>
                    <!-- Right links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>

        </nav>
        <!-- Navbar -->
    </div>
    <!-- Container wrapper -->
</header>