<!-- Social links -->
<ul class="lg:flex origin-right font-semibold mt-4">
    <li class="px-2 text-base font-semibold inline-block">
        <a href="#" class="block lg:inline-block lg:mt-0 hover:text-darkBlue mr-4">
            <i class="fab fa-google-plus-g"></i>
        </a>
    </li>
    <li class="px-2 text-base font-semibold inline-block">
        <a href="#" class="block lg:inline-block lg:mt-0 hover:text-darkBlue mr-4">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="px-2 text-base font-semibold inline-block">
        <a href="#" class="block lg:inline-block lg:mt-0 hover:text-darkBlue mr-4">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
</ul>
<!-- Social links -->